.main {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0) 78.12%), #FEFEFE;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  footer {
    font-family: 'Archivo', sans-serif;
    font-size: 0.875rem;
    color: #5B5B5B;
    padding: 0.675rem;
    position: absolute;
    bottom: 0;
  }
}

// 700px
.hero {
  width: 37.0625rem;
  width: clamp(37.0625rem, 30.310049019607842rem + 15.522875816993464vw, 48.9375rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.125rem;

  h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 6rem;
    font-size: clamp(6rem, 4.8rem + 2.6vw, 8rem);
    font-weight: 500;
  }

  p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.5rem;
    font-weight: 400;

    text-align: justify;
  }
}

.picture {
  position: inherit !important;
  width: 33% !important;
  height: auto !important;
  object-fit: cover;
  aspect-ratio: 1/1;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.6));

  border-radius: 18px;
  overflow: hidden;

  position: relative;

  transform-style: preserve-3d;
  transition: transform .05s linear;
}

.informations {
  width: 100%;
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;

    &:hover span {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.navigation {
  width: 100%;
  margin: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;

  div {
    width: 35%;
  }

  button {
    display: flex;
    flex-direction: column;
    gap: 10px;

    box-shadow: 0px 0px 3px #000000;
    border: none;
    background: rgba(255, 255, 255, 0.01);
    border-radius: 0.5rem;
    cursor: pointer;

    padding: 1.125rem 1rem;

    h2 {
      font-family: 'Archivo', sans-serif;
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      font-size: 0.875rem;
      text-align: justify;
    }

    h2,
    p {
      transition: text-shadow 200ms ease-in-out;
    }

    &:hover {
      box-shadow: 0px 0px 5px #000000;

      h2,
      p {
        animation: glitch .3s normal;
        text-shadow: 0px 0px 2px #000000;

      }
    }
  }
}

.contact {

  p,
  a {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}